//主题颜色
$color-theme: rgb(5, 192, 96);
$color-theme-d: rgb(108, 163, 71);//主题色深
$color-theme-l: rgb(206, 235, 187); //主题色浅


$color-text: #606266;
$color-text-d: #303133;
$color-text-l: #909399;

$color-line: #eeeeee; //线条的颜色
$color-border: $color-line; //线条的颜色
$color-money: #ff6c3f; //money字体的颜色
$color-error: #fa3534; //错误信息
$color-error-d: #dd6161;

//背景颜色
$color-bg1: rgb(245, 248, 253); //偏蓝的底色
$color-bg2: #f7f7f7; //偏暗的灰色
$color-input-bg: #f9f9f9; //输入框的背景色

//字体
$size-x: 12px;
$size-xx: 14px;
$size-xxx: 16px;

